
<div class="english-home-wrapper">
  <!--<div class="container">-->
    <div class="introduction">
      <div class="main-intro">
        <h1 class="for-sm">Talk with Native Japanese.</h1>
        <h1 class="for-sm">No Need to Pay Money. Yay!</h1>
        <div class="main-intro-pc">
          <h2 class="d-none main-for-pc">Talk with Native Japanese. No Need to Pay Money.</h2>
        </div>
      </div>
      <div class="connect">
        <p>INTE connects</p>
        <p>①Native Japanese</p>
        <p>②English Speaker <br>who wants to learn Japanese</p>
      </div>
      <p class="free">This is Absolutely <span class="yellow">FREE</span> Service!</p>
      <% if current_user.nil? %>
        <div class="buttons">
          <%= link_to "Sign Up Now!", new_user_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Log in", sessions_path,  class: "btn btn-success btn-lg" %>
        </div>
      <% else %>
        <div class="buttons">
          <%= link_to "Your Home", homes_path, class: "btn btn-info btn-lg" %>
        </div>  
      <% end %>  
    </div>
    <div class="what-is-inte">
      <h1 class="title">What is INTE?</h1>
      <div class="description">
        <p>You can talk with Native Japaneses</p>
        <p>who want to learn English.</p>
      </div>
      <div class="description">
        <p>Absolutely FREE!</p>
        <p>You do NOT have to pay even 1 cent.</p>
      </div>
      <div class="description">
        <p>You can talk with Japanese</p>
        <p>in any SNS you want to use.</p>
      </div>
      <% if current_user.nil? %>
        <div class="buttons">
          <%= link_to "Sign Up Now!", new_user_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Log in", sessions_path,  class: "btn btn-success btn-lg" %>
        </div>
      <% else %>
        <div class="buttons">
          <%= link_to "Your Home", homes_path, class: "btn btn-info btn-lg" %>
        </div>  
      <% end %>  
    </div>
  <!--</div>-->
</div>