<% provide(:title, "user detail") %>

<div class="user-detail-wrapper">
  <div class="introduction">
    <h3>①Authorize your account via sent Email.</h3>
    <h3>②Let's register your user informations! You can change it later.</h3>
  </div>

  <div class="row user-detail-forms">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(url: detailcreate_user_path, method: "patch", local: true) do |f| %>
        
      
        <%= f.label :mother_tongue, "Mother Tongue" %>
        <%= f.select :mother_tongue, [["English", "English"], ["Japanese", "Japanese"], 
        ["Other","other"]], include_blank: "Please select.", class:"form-control" %>
        
        <%= f.label :japanese_level, "Japanese Level" %>
        <%= f.select :japanese_level, [["Beginner", "Beginner"], ["Capable of quite basic communication", "Capable of quite basic communication"], 
        ["Capable of daily conversation","Capable of daily conversation"], ["Capable of advanced conversation","Capable of advanced conversation"], ["Almost native level","Almost native level"],
        ["Native | ネイティブ","Native | ネイティブ"]], include_blank: "Please select.", class:"form-control" %>
        
        <%= f.label :english_level, "English Level" %>
        <%= f.select :english_level, [["Beginner", "Beginner"], ["Capable of quite basic communication", "Capable of quite basic communication"], 
        ["Capable of daily conversation","Capable of daily conversation"], ["Capable of advanced conversation","Capable of advanced conversation"], ["Almost native level","Almost native level"],
        ["Native","Native"]], include_blank: "Please select.", class:"form-control" %>
        
        <%= f.label :gender, "Gender(optional)" %>
        <%= f.select :gender, [["he/him", "he/him"], ["she/her", "she/her"], 
        ["they/them","they/them"], ["I don't want to tell","I don't want to tell"]], include_blank: "Please select.", class:"form-control" %>
        
        <%= f.label :region, "Region" %>
        <%= f.select :region, [["Asia", "Asia"], ["Europe", "Europe"], 
        ["Africa","Africa"], ["North/Central America","North/Central America"], ["South America","South America"],
        ["Oceania","Oceania"], ["Other","Other"]], include_blank: "Please select.", class:"form-control" %>

        <%= f.label :purpose, "Purpose of Learning" %>
        <%= f.select :purpose, [["Business", "Business"], ["School Classes", "School Classes"], 
        ["Entrance Exam","Entrance Exam"], ["Trip","Trip"], ["Want to talk with Foreingers","Want to talk with Foreingers"], 
        ["Qualifying Exam","Qualifying Exam"], ["Hobby","Hobby"], ["Other", "Other"]], include_blank: "Please select.", class:"form-control" %>
        
        <%= f.label :self_introduction, "Self Introduction" %>
        <%= f.text_area :self_introduction, class: 'form-control self-intro', placeholder: "It is recommended that you write in simple English. 英語で書くことをお勧めします。簡単な文でも問題ありません。" %>
        
        <%= f.label :skype, "Skype URL" %>
        <%= f.text_field :skype, class: 'form-control' %>
        
        <%= f.label :discord, "Discord URL" %>
        <%= f.text_field :discord, class: 'form-control' %>
        
        <%= f.label :other, "Other Service URL" %>
        <%= f.text_field :other, class: 'form-control' %>

        <%= f.text_field :name, type: "hidden", value: "#{@user.name}" %>
        <%= f.text_field :email, type: "hidden", value: "#{@user.email}" %>
        <%#= f.text_field :password,  value: "password" %>
        <%#= f.text_field :password_confirmation, value: "password" %>
        <%#= f.text_field :password_digest, type: "hidden", value: "#{@user.password_digest}" %>


        
        <%= f.submit "Send | 送信", class: "btn btn-primary create" %>
      <% end %>
    </div>
  </div>
</div> 