<% provide(:title, @user.name) %>
<div class="user-wrapper">
  <div class="icon">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-image" %>
    <% else %>
      <%=  image_tag "default_user.jpeg", class: "user-image" %>  
    <% end %>
  </div>
  <div class="basic-info">
    <h1 class="user-name">
      <%= @user.name %>

      <% if @user == current_user %>
        <div class="setting">
          <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-primary" %>
        </div>
      <% end %>
      
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <div class="direct-message">
        <% if current_user %>
          <% if @user.id == current_user.id %>

          <% else %>
            <% if @isRoom == true %>
              <button><p><a href="/rooms/<%= @roomId %>"><i class="far fa-envelope"></i></a></button>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.button :type => "submit", style: 'border-style: none;' do %>
                  <i class="far fa-envelope"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render 'follow_form' if logged_in? %>
    </h1>
    
    
    
    
    

    <div class="user-details">
      <h3 class="content">Mother Tongue : <%= @user.mother_tongue %></h3>
      <h3 class="content">Japanese Level: <%= @user.japanese_level %></h3>
      <h3 class="content">English Level : <%= @user.english_level %></h3>
      <h3 class="content">Gender : <%= @user.gender %></h3>
      <h3 class="content">Region : <%= @user.region %></h3>
      <h3 class="content">Purpose of Learning : <%= @user.purpose %></h3>
      <% unless @user.skype.nil? %>
        <h3 class="content">Skype URL : <%= link_to "#{@user.name}'s skype", @user.skype %></h3>
      <% end %>
      <% unless @user.discord.nil? %>
        <h3 class="content">Discord URL : <%= link_to "#{@user.name}'s discord", @user.discord %></h3>
      <% end %>
      <% unless @user.other.nil? %>
        <h3 class="content">Other Service URL : <%= link_to "#{@user.name}'s other service link", @user.other %></h3>
      <% end %>
      <div class="self-introduction">
        <h3>Self Introduction</h3>
        <p><%= @user.self_introduction %></p>
      </div>
    </div>
    
  </div>
  
  

  <div class="user-microposts">
    <div class="micropost-square">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>
  <h3>いいねしている投稿</h3>
  <% @user.liked_posts.each do |post| %>
    <%= post.user.email %>
    <%= post.content %>
  <% end %>

</div>
