<% provide(:title, @user.name) %>
<div class="user-wrapper">
  <div class="icon">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-image" %>
    <% else %>
      <%=  image_tag "default_user.jpeg", class: "user-image" %>  
    <% end %>
  </div>
  <div class="basic-info">
    <h1 class="user-name">
      <%= @user.name %>
      <%= render 'follow_form' if logged_in? %>
    </h1>
    <% if @user == current_user %>
      <div class="setting">
        <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-primary" %>
      </div>
    <% end %>
    <section class="stats">
    <%= render 'shared/stats' %>
    </section>
    
    <div class="direct-message">
      <% if @user.id == current_user.id %>

      <% else %>
        <% if @isRoom == true %>
          <button><p><a href="/rooms/<%= @roomId %>"><i class="far fa-envelope"></i></a></button>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.button :type => "submit", style: 'border-style: none;' do %>
              <i class="far fa-envelope"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="user-details">
      <h3 class="content">Mother Tongue : <%= @user.mother_tongue %></h3>
      <h3 class="content">Japanese Level: <%= @user.japanese_level %></h3>
      <h3 class="content">English Level : <%= @user.english_level %></h3>
      <h3 class="content">Gender : <%= @user.gender %></h3>
      <h3 class="content">Region : <%= @user.region %></h3>
      <h3 class="content">Purpose of Learning : <%= @user.purpose %></h3>
      <h3 class="content">Skype URL : <a><%= @user.skype %></a></h3>
      <h3 class="content">Discord URL : <a><%= @user.discord %></a></h3>
      <h3 class="content">Other Service URL : <a><%= @user.other %></a></h3>
      <div class="self-introduction">
        <h3>Self Introduction</h3>
        <p><%= @user.self_introduction %></p>
      </div>
    </div>
    
  </div>
  
  

  <div class="user-microposts">
    <div class="micropost-square">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>

  <% if @likes.present? %>
    <ul class="relative-post-lists">
    <% @likes.each do |like| %>
      <li class='post-list'>
        <%= link_to post_path(like.id) do %>
        <div class='post-img-content'>
          <%= image_tag like.image, class: "post-img" %>
        </div>
          <div class='relative-post-name'>
            商品名：<%= like.name %>
          </div>
          <div class='relative-item-price'>
            <span><%= like.price %>円(税込み)</span>
          </div>
          <div class="relative-post-evaluation">
            <span>評価：</span>
              <span id="star-rate-<%= like.id %>"></span>
              <script>
                $('#star-rate-<%= like.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= like.evaluation %>,
                });
              </script>
              <%= like.evaluation %>
          </div>
          <div class='user-img-content'>
            <%= image_tag like.user.image ,class:"mini-img" if like.user.image.attached? %>
            <%= link_to like.user.nickname, user_path(like.user.id) %>
          </div>
          <div class="relative-post-date">
            更新日時：<%= like.created_at.strftime("%Y.%m.%d") %>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
  
</div>
