<% provide(:title, @user.name) %>
<div class="user-wrapper">
  <div class="icon">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-image" %>
    <% else %>
      <%=  image_tag "default_user.jpeg", class: "user-image" %>  
    <% end %>
  </div>
  <div class="basic-info">
    <h1 class="user-name">
      <%= @user.name %>
      <%= render 'follow_form' if logged_in? %>
    </h1>
    <% if @user == current_user %>
      <div class="setting">
        <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="direct-message">
      <% if @user.id == current_user.id %>

      <% else %>
        <% if @isRoom == true %>
          <button><p><a href="/rooms/<%= @roomId %>"><i class="far fa-envelope"></i></a></button>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.button :type => "submit", style: 'border-style: none;' do %>
              <i class="far fa-envelope"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <section class="stats">
    <%= render 'shared/stats' %>
    </section>
  </div>
  
  

  <div class="user-microposts">
    <div class="micropost-square">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>
