<div class="micropost-show-wrapper">
  <h1>投稿詳細ページ</h1>
  <h3><%= @microost.user.email %></h3>
  <h3><%= @micropost.content %></h3>
  <h3>いいね件数: <%= @micropost.likes.count %></h3>
  <% if current_user.already_liked?(@micropost) %>
    <%= button_to 'いいねを取り消す', post_like_path(@micropost), method: :delete %>
  <% else %>
    <%= button_to 'いいね', post_likes_path(@micropost) %>
  <% end %>
  <h2>いいねしたユーザー</h2>
  <% @micropost.liked_users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>

  <%= link_to "ホームへ戻る", homes_path %>
</div>