<header>
  <%= link_to image_tag("logos/logo_transparent.png", class: "main-logo"), root_path %> 
  <% if logged_in? %>
    <li class="dropdown" >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-bars bars"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><i class="fas fa-home color"></i><%= link_to "Home", homes_path %></li>
        <li><i class="far fa-envelope color"></i><%= link_to "DM", rooms_path %></li>
        <li><i class="fas fa-search color"></i><%= link_to "Search", search_users_path %></li>
        <%= link_to "Log out", session_path(id: current_user.id), method: :delete, class: "logout btn btn-primary"  %>
      </ul>
    </li>
    <!--ここにuserimage追加したい-->
    
    <div class="menu-pc">
      <%= link_to "Log out", session_path(id: current_user.id), method: :delete, class: "logout-pc d-none d-lg-inline btn btn-primary"  %>
      <i class="fas fa-search color"><%= link_to "Search", search_users_path %></i>
      <i class="far fa-envelope color"><%= link_to "DM", rooms_path %></i>
      <i class="fas fa-home color"><%= link_to "Home", homes_path %></i>
      <% if current_user.image? %>
        <%= link_to image_tag("#{current_user.image.url}", class: "user-image"), user_path(current_user) %>
      <% else %>
        <%= link_to image_tag("default_user.jpeg", class: "user-image"), user_path(current_user) %>  
      <% end %>
    </div>
  <% else %>
    <%= link_to "Log in", sessions_path, class: "btn btn-primary login" %>
  <% end %>
</header>