<header>
  <%= image_tag "logos/logo_transparent.png", class: "main-logo" %>
  <%# もともとlogged_in?で条件分岐してた %>
  <% if "k".empty? %>
    <li class="dropdown" >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-bars bars"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><i class="fas fa-home color"></i><%= link_to "Home", "#" %></li>
        <li><i class="far fa-envelope color"></i><%= link_to "DM", "#" %></li>
        <li><i class="fas fa-search color"></i><%= link_to "Search", "#" %></li>
        <%= link_to "Log out", "#", method: :delete, class: "logout btn btn-primary"  %>
      </ul>
    </li>
    <!--ここにuserimage追加したい-->
    
    <div class="menu-pc">
      <%= link_to "Log out", "#", method: :delete, class: "logout-pc d-none d-lg-inline btn btn-primary"  %>
    </div>
  <% else %>
    <%= link_to "Log in", sessions_path, class: "btn btn-primary login" %>
  <% end %>
</header>